@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    outline: none;
    border: none;
    border-radius: 5px;
}
h3{
    font-size: 30px;


}

.Header{
    font-family: 'Poppins', sans-serif;;
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: hsl(155, 100%, 50%);
    
    
}

.cancel-form{

    background: transparent;

    border: none;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    

    
 
    position: relative;

    transition: 0.3s all;
    transition: transform 0.3s ease;

}

  .cancel-form:before,
  .cancel-form:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
  
    background-color: white;
    transition: transform 0.5s ease, background-color 0.3s ease;
  }
  
  .cancel-form:before {
    transform: rotate(45deg);
  }
  
  .cancel-form:after {
    transform: rotate(-45deg);
  }



  .cancel-form:hover {
    transform: scale(1.2) ;
  }
  
  .cancel-form:hover:before,
  .cancel-form:hover:after {
    background-color: red;
  }
  .cancel-form:hover::before{
    transform:rotate(135deg)
  }
  .cancel-form:hover::after{
    transform:rotate(225deg)
  }
  
.Header h1{
    text-align: center;

}



.Book-Containers-Box{
    display: flex;
    gap: 2rem;
    padding-top: 20px;
    
    
}

#add-new{
    width: 200px;
    height: 280px;
    margin: 10px;
    font-size: 95px;
    border: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 55%, 0.452);
    color: #fff;
}
#add-new:hover{
    opacity: 0.7;
    
}

.form-container{
    position: fixed;
    width: 100%;
    height: 100%;


    background-color: rgba(95, 95, 95, 0.144);
    
    z-index: 3;

}
#book{
    font-family: 'Poppins', sans-serif;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    width: 340px;
    height: 500px;
    padding: 18px;
    background-color: hsl(180, 100%, 38%);
    text-align: center;
    border-radius: 20px;
    transition: all 0.25s;
    z-index: 5;  

}


#book > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;   
    padding: 10px;
    margin-top: 15px;

}
#book > form > input[type='text']{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    
}

#book > form > input[type='number']{
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

#book > form > button{
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    background-color: hsl(29, 100%, 50%);
    color: #fff;

}

#book > form > button:hover{
    background-color: #fff;
    color: hsl(29, 100%, 50%);
    transition: 0.35s all;
    
}



/* Books*/

.display{
    display: flex;
    gap: 1.8rem;
    align-items: center;
    flex-wrap: wrap;
    
}

.card{
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-color: blueviolet;
    width: 210px;
    height: 320px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px;


}

.h1-of-book-collection{
    font-size: 17px;

    


}
.h3-of-book-collection{
    font-size: 16px;

}


.p-of-book-collection{

    
}

.read-of-book-collection{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, 120%);
    
    
}

.remove-button{
    color: white;
    border: none;
    background-color: transparent;
    font-size: 30px;
    
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-70%);
    transition: 0.3s all;
}

.remove-button:hover{
    color: red;
    scale: 1.05;
    cursor: pointer;

}
.read-of-book-collection{
    background-color: transparent;
    border: none;
    font-size: 15px;
}


.shake {
    animation: shake 0.16s;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
#errorMessage {
    color: red;
}